body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.board-container {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.cells {
  display: flex;
  margin: 0 auto;
}
.single-cell {
  font-weight: bold;
  height: 40px;
  width: 40px;
  background: none;
  box-shadow: none;
  border: 1px solid;
}
.reset-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.board-size {
  display: flex;
  justify-content: center;
}
.player-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 150px;
  margin: 0 auto;
}
.counter {
  width: 80px;
  margin-left: 12px;
}
.player-name {
  margin-bottom: 20px;
}
